// Reset

@import "_reset.scss";

// Typography

@import "_typography.scss";

// Styles

html, body {
	min-height: 100%;
	width: 100%;
}

body {
	background-color: white;
}

.wrapper {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	padding-top: 60px;
	width: 960px;
	@media only screen and (max-width : 1024px) {
		margin: 0 6%;
		padding-top: 40px;
		width: 88%;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	z-index: 0;
}

// Sections

section {
	margin: 32px 0px;
	border: 0;
}

section:first-child {
	margin-top: 0;
}

section:last-child {
	padding-bottom: 120px;
}

	// Overlay
	
	.header-lines {
		margin: 0 auto;
		width: 1060px;
		height: 60px;
		@media only screen and (max-width : 1024px) {
			margin: 0 4%;
			width: 92%;
			height: 40px;
		}
	}

	// Intro
	
	.logo {
		display: inline;
	}

	// Personal Statement
	
	.summary p {
		max-width: 40%;
		@media only screen and (max-width : 760px) {
			max-width: 80%;
		}
	}

	// Skills

	.skills {
		ul {
			float: left;
			margin-top: 16px;
			margin-bottom: 16px;
			margin-left: 20px;
			min-width: 240px;
		}
		li {
			width: 100%;
			list-style: disc;
		}
	}

	// Experience
	
	.experiece {
		ul {
			padding: 16px 0px;
			width: 100%;
		}

		.work li {
			margin-bottom: 16px;
			width: 100%;
			height: 100px;
			.icon {
				float: left;
				margin-right: 16px;
				width: 100px;
				height: 100px;
				background-color: #F4F4F4;
				-webkit-background-size: 60px;
				-moz-background-size: 60px;
				background-size: 60px;
				background-position: center center;
				background-repeat: no-repeat;
				-webkit-transition: 0.8s;
				-moz-transition: 0.8s;
				-o-transition: 0.8s;
				transition: 0.8s;
			}
			.icon:hover {
				background-color: #0FC;
				-webkit-transition: 0.8s;
				-moz-transition: 0.8s;
				-o-transition: 0.8s;
				transition: 0.8s;
			}
			.text {
				float: left;
				margin-top: 10px;
				max-width: 400px;
				height: 90px;
				@media only screen and (max-width : 760px) {
					margin-top: 0;
					max-width: 260px;
					height: 100px;
				}
			}
			p {
				font-size: 0.85em;
			}
		}

		.exp-list {
			margin-left: 20px;
		}

		.exp-list li {
			list-style: disc;
			margin-bottom: 8px;
			max-width: 40%;
			@media only screen and (max-width : 760px) {
				max-width: 80%;
			}
			p {
				font-size: 1em;
			}
		}
	}

		// Work Icons

		.pnb-icon {
			background-image: url('../img/pearls-and-bones.png');
		}

		.pnb-icon:hover {
			background-image: url('../img/pearls-and-bones-hover.png');
		}

		.ysdn-icon {
			background-image: url('../img/ysdn-redesign.png');
		}

		.ysdn-icon:hover {
			background-image: url('../img/ysdn-redesign-hover.png');
		}

		.student-icon {
			background-image: url('../img/student-work.png');
		}

		.student-icon:hover {
			background-image: url('../img/student-work-hover.png');
		}
	
// Style Elements

.lines {
	-webkit-background-size: 40px;
	-moz-background-size: 40px;
	background-size: 40px;
	background-image: url("../img/style-lines.svg")
}

.section {
	display: none;
}