html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figcaption, figure, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #000; }

a:visited {
  color: #000; }

a:hover {
  color: #000; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

::-moz-selection {
  background: #0FC;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #0FC;
  color: #fff;
  text-shadow: none; }

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clearfix {
  display: inline-block; }

html[xmlns] .clearfix {
  display: block; }

* html .clearfix {
  height: 1%; }

html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%; }

a {
  text-decoration: none; }

h1 {
  display: inline;
  font-size: 8em;
  font-weight: bold;
  color: #0FC;
  letter-spacing: 6px;
  text-transform: uppercase;
  line-height: 0.7; }
  @media only screen and (max-width: 760px) {
    h1 {
      font-size: 5em; } }
  @media only screen and (max-width: 560px) {
    h1 {
      font-size: 4em; } }
  @media only screen and (max-width: 420px) {
    h1 {
      font-size: 3.5em; } }

h1 span {
  line-height: 1.2; }

h2 {
  margin-top: 16px;
  font-size: 1.25em;
  line-height: 2.4;
  color: #666; }
  @media only screen and (max-width: 760px) {
    h2 {
      font-size: 1.1em; } }

h3 {
  font-weight: bold;
  color: #333;
  font-size: 1.2em;
  margin-bottom: 16px; }

h4 {
  font-weight: bold;
  color: #555;
  font-size: 0.94em;
  margin-bottom: 8px; }

h4 span {
  font-weight: normal;
  font-style: italic; }

p, li {
  color: #555;
  font-size: 0.8em;
  line-height: 2.2; }

p span {
  font-weight: bold; }

p a {
  color: #555; }

p a:hover {
  color: #0FC;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }

html, body {
  min-height: 100%;
  width: 100%; }

body {
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll; }

.wrapper {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  padding-top: 60px;
  width: 960px; }
  @media only screen and (max-width: 1024px) {
    .wrapper {
      margin: 0 6%;
      padding-top: 40px;
      width: 88%; } }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 100%;
  z-index: 0; }

section {
  margin: 32px 0px;
  border: 0; }

section:first-child {
  margin-top: 0; }

section:last-child {
  padding-bottom: 120px; }

.header-lines {
  margin: 0 auto;
  width: 1060px;
  height: 60px; }
  @media only screen and (max-width: 1024px) {
    .header-lines {
      margin: 0 4%;
      width: 92%;
      height: 40px; } }

.logo {
  display: inline; }

.summary p {
  max-width: 40%; }
  @media only screen and (max-width: 760px) {
    .summary p {
      max-width: 80%; } }

.skills ul {
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: 20px;
  min-width: 240px; }
.skills li {
  width: 100%;
  list-style: disc; }

.experiece ul {
  padding: 16px 0px;
  width: 100%; }
.experiece .work li {
  margin-bottom: 16px;
  width: 100%;
  height: 100px; }
  .experiece .work li .icon {
    float: left;
    margin-right: 16px;
    width: 100px;
    height: 100px;
    background-color: #F4F4F4;
    -webkit-background-size: 60px;
    -moz-background-size: 60px;
    background-size: 60px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
  .experiece .work li .icon:hover {
    background-color: #0FC;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s; }
  .experiece .work li .text {
    float: left;
    margin-top: 10px;
    max-width: 400px;
    height: 90px; }
    @media only screen and (max-width: 760px) {
      .experiece .work li .text {
        margin-top: 0;
        max-width: 260px;
        height: 100px; } }
  .experiece .work li p {
    font-size: 0.85em; }
.experiece .exp-list {
  margin-left: 20px; }
.experiece .exp-list li {
  list-style: disc;
  margin-bottom: 8px;
  max-width: 40%; }
  @media only screen and (max-width: 760px) {
    .experiece .exp-list li {
      max-width: 80%; } }
  .experiece .exp-list li p {
    font-size: 1em; }

.pnb-icon {
  background-image: url("../img/pearls-and-bones.png"); }

.pnb-icon:hover {
  background-image: url("../img/pearls-and-bones-hover.png"); }

.ysdn-icon {
  background-image: url("../img/ysdn-redesign.png"); }

.ysdn-icon:hover {
  background-image: url("../img/ysdn-redesign-hover.png"); }

.phone-icon {
  background-image: url("../img/phone.png"); }

.phone-icon:hover {
  background-image: url("../img/phone-hover.png"); }

.student-icon {
  background-image: url("../img/student-work.png"); }

.student-icon:hover {
  background-image: url("../img/student-work-hover.png"); }

.lines {
  -webkit-background-size: 40px;
  -moz-background-size: 40px;
  background-size: 40px;
  background-image: url("../img/style-lines.svg"); }

.section {
  display: none; }
